<!-- <ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view> -->
<ion-view hide-nav-bar="true">
<ion-view view-title="Login" class="login">
  <ion-content>
    <div>
      <img src="img/usoil.png" class="responsive-img center login-logo">
    </div>
    <!--  FORM SNIPETCODE
    <div class="list">
      <label class="item item-input item-floating-label"> <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name"> </label>
      <label class="item item-input item-floating-label"> <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name"> </label>
      <br />
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox"> </label> I read the terms & conditions </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox"> </label> Haha, you liar. There are no T&C's </div>
      <br />
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content"> Tap Me </div> <i class="radio-icon ion-checkmark"></i> </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content"> Or Tap Me </div> <i class="radio-icon ion-checkmark"></i> </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content"> Or Tap Me </div> <i class="radio-icon ion-checkmark"></i> </label>
      <div class="item range range-positive"> <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33"> <i class="icon ion-ios-sunny"></i> </div>
      <label class="item item-input item-select">
        <div class="input-label"> Most Influential Teletubby </div>
        <select>
          <option>Laa-Laa</option>
          <option selected>Tinky Winky</option>
          <option>Dipsy</option>
          <option>Po</option>
          <option>Noo-noo</option>
        </select>
      </label>
      <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1"> Submit </button>
    </div> -->
    <div class="list padding-left padding-right padding-top">
      <label class="item item-input item-floating-label"> <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="data.username">
      </label>

      <label class="item item-input item-floating-label"> <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-energized" ng-click="login();">Login</button>
    </div>
  </ion-content>
</ion-view>
<div class="bar bar-footer footer-bg-none">
  <div class="title">forgot password?</div>
</div>

