<ion-view view-title="Request Service" class="request-service">
  <ion-content>
	  <form name="frmReqServ" id="frmReqServ" ng-submit="request_service_submit();">
		  <div class="padding">
			<h4 class="font-center">Please fill in below details.</h4>
			<div class="request-service-form-group font-center">
				<div class="list padding-left padding-right padding-top">
				  <label class="item item-input">
					<input type="text" placeholder="Name" ng-model="data.name" required>
				  </label>
				</div>
				<div class="list padding-left padding-right">
				  <label class="item item-input">
					<input type="email" placeholder="Email" ng-model="data.email" required>
				  </label>
				</div>
				<div class="list padding-left padding-right">
				  <label class="item item-input">
					<input type="text" placeholder="Mobile" ng-model="data.mobile" required>
				  </label>
				</div>
				<div class="list padding-left padding-right">
				  <!--label class="item item-input">
					<input type="text" placeholder="Type of Service" ng-model="data.service" required>
				  </label-->

					<label class="item item-input item-select">
						<div class="input-label">
							Service Type
						</div>
						<select ng-model="data.service" required>
							<option value="">Select Service Type</option>
							<option value="Change Out Oil ASAP">Change Out Oil ASAP</option>
							<option value="Deep Clean Fryer">Deep Clean Fryer</option>
							<option value="Call Me ASAP">Call Me ASAP</option>
							<option value="Fryer Down for Service">Fryer Down for Service</option>
						</select>
					</label>

				</div>
				<div class="padding">
				  <button class="button button-block button-energized">Submit</button>
				  <!--button class="button button-block button-energized" ng-click="request_service_submit();">Submit</button-->
				</div>
			</div>
		</div>
	</form>
  </ion-content>
</ion-view>
