/* Empty. Add your own CSS if you like */

/*---------------------------------------------------------------------------------------------
| Ionic Materialize Utilities
---------------------------------------------------------------------------------------------*/
  .link {
      color: #116262;
      font-weight: bold;
  }

  /*h4 {
      color: #116262;
      font-size: 22px;
      margin-bottom: 16px;
  }

  h4:first-child {
      border-top: none;
      padding-top: initial;
  }*/

  .title-bordered {
      border-top: solid 2px #bbb;
      padding-top: 30px;
  }

  p {
      color: #555;
      margin: 0 0 25px;
  }

  .no-border {
      border: none;
  }

  .static {
      position: static;
  }

  .bold {
      font-weight: bold;
  }

  .border-top {
      border-top: solid 1px #ccc;
      padding-top: 30px;
  }

  .blue-grey-900 {
      background-color: #263238 !important;
      color: #fff;
  }
  /* Menu */

  .menu .bar.bar-header.expanded {
      background-image: url('../img/material-graphite.jpg');
      background-size: 120%;
      background-position: 0%;
      transition: all .5s ease-in-out;
  }

  .menu.menu-left * {
      font-weight: bold;
  }

  .item-radio input:checked ~ .item-content {
      background: transparent;
  }

  .menu-open .ion-navicon {
      transform: rotate(-360deg);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }

  .menu-open .ion-navicon:before {
      content: "\f2ca";
  }

  .item.item-radio .radio-icon {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }

  .item.item-radio:active .radio-icon {
      opacity: 0;
      transform: scale(1.6);
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
  }

  .directions.button-bar {
      margin: 0 auto;
      width: 33.333%;
  }

  .directions.button-bar button {
      line-height: 26px;
  }

  .ion-arrow-right-c.top-left:before {
      transform: rotate(-135deg);
  }

  .ion-arrow-right-c.top-right:before {
      transform: rotate(-45deg);
  }

  .ion-arrow-right-c.bottom-left:before {
      transform: rotate(-225deg);
  }

  .ion-arrow-right-c.bottom-right:before {
      transform: rotate(45deg);
  }

  #modal {
      background-color: #ef4e3a;
      border-radius: 100%;
      box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
      position: fixed;
      height: 50%;
      bottom: 0;
      opacity: 0;
      width: 700px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }

  .expand #modal {
      background-color: #DBDBDB;
      border-radius: 0;
      border-top: solid 4px #ef4e3a;
      opacity: 1;
      z-index: 9;
  }
  /* CODE */

  .code {
      color: #333;
      font-family: monospace;
      padding: 10px;
      white-space: pre;
  }

  .code-wrapper {
      padding-bottom: 30px;
      padding-top: 15px;
  }

  .code-wrapper::before {
      color: #1B5E20;
      font-family: "Ionicons";
      speak: none;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: '\f216 ';
  }

  .code-wrapper.active::before {
      content: '\f207 ';
  }

  .code-wrapper .toggle {
      color: #4CAF50;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 8px;
      text-decoration: underline;
  }

  .code-wrapper .code {
      opacity: 0;
      margin-top: -20px;
      height: 0;
      overflow: hidden;
      position: absolute;
      transition: 0.1s all ease-in-out;
      z-index: 9999999999;
  }

  .code-wrapper.code-wrapper-last .code {
      position: relative;
  }

  .code-wrapper.active .code {
      background: #f9f9f9;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
      left: 16px;
      height: initial;
      margin-top: 15px;
      padding: 15px;
      right: 16px;
      opacity: 1;
      transition: 0.3s all ease-in-out;
      width: initial;
  }

  .popover {
      left: initial !important;
      right: 16px !important;
      top: 16px !important;
  }
  .platform-android .popover{
  margin-top:10px;
  }
/*---------------------------------------------------------------------------------------------
| END Ionic Materialize Utilities
---------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------
| LOGIN
---------------------------------------------------------------------------------------------*/
    .login {
    	background-image: url('../img/login-bg.png'); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .login-logo {
    	margin-top: 40%;
    }
    .login-btn {
    	background: #ffe029 !important;
    	width: 100%;
    }

    .footer-bg-none {
    	background: none;
    	color: #FFFFFF;
    }
    .footer-bg-none > div {
    	font-size: 12px !important;
        font-weight: normal !important;
    }
/*---------------------------------------------------------------------------------------------
| END of LOGIN
---------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------
| TMPS LOCATION
---------------------------------------------------------------------------------------------*/
    .tmps-location {
    	background-image: url('../img/frier-location-screen.png');
    	-webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .tmps-form-group {
    	/*border-radius: 10px;
        border: 1px solid #cd8f16;
        padding: 5px;
        margin-top: 25px;
        background: #fff;
        box-shadow: 0px 1px;*/
        border-radius: 7px;
        border: 1px solid #cd8f16;
        padding: 3px;
        margin-top: 10px;
        background: #EEEEEE;
        box-shadow: 0px 0px;
        border-bottom: 3px solid #CD8F16;
    }
    iframe {
        width: 100%;
        min-height: 200px;
    }

    /*TPMS Entry Screen*/
    h4.fryer-tpms {
      background: #F4A212;
      margin: 0;
      line-height: 38px;
      min-width: 160px;
    }
    .green-background {
        background: #428536;
        min-height: 550px;
    }
    .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      
      border-bottom: 20px solid #F4A212;
    }
    .arrow-down {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      
      border-top: 20px solid #F4A212;
    }
    .arrow-right {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      
      border-left: 20px solid #F4A212;
    }
    .arrow-left {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      
      border-right:20px solid #F4A212; 
    }
/*---------------------------------------------------------------------------------------------
| END of TMPS LOCATION
---------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------
| GENERAL CSS
---------------------------------------------------------------------------------------------*/
  h4{
    font-size: 1rem;
  }

  /*custom text color*/
  .white {
    color: #fff !important;
  }

  /*custom bg color*/
  .white-bg {
    background-color: #fff !important;
  }

  .request-service {
      background-image: url('../img/frier-location-screen.png');
      -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
  .request-service-form-group {
      border-radius: 10px;
        border: 1px solid #cd8f16;
        padding: 5px;
        margin-top: 25px;
        background: #fff;
        box-shadow: 0px 1px;
    }

  .center {
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .transparent-bg {
  	background: none !important;
  }

  .font-center {
  	text-align: center;
  }

  .padding-5 {
    padding: 5px !important;
  }
  .no-padding-left {
      padding-left: 0px !important;
  }
  .no-padding-right {
      padding-right: 0px !important;
  }
  .margin-auto {
    margin: auto !important;
  }

  .item-floating-label, .list .item.item-floating-label {
    border-bottom: solid 1px #1B5E20;
  }
/*---------------------------------------------------------------------------------------------
| END of GENERAL CSS
---------------------------------------------------------------------------------------------*/
