/* Empty. Add your own CSS if you like */

/*---------------------------------------------------------------------------------------------
| LOGIN
---------------------------------------------------------------------------------------------*/
.login {
	background-image: url('../img/login-bg.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.login-logo {
	margin-top: 40%;
}
.login-btn {
	background: #ffe029 !important;
	width: 100%;
}

.footer-bg-none {
	background: none;
	color: #FFFFFF;
}
.footer-bg-none > div {
	font-size: 12px !important;
    font-weight: normal !important;
}
/*---------------------------------------------------------------------------------------------
| END LOGIN
---------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------
| TMPS LOCATION
---------------------------------------------------------------------------------------------*/
.tmps-location {
	background-image: url('../img/frier-location-screen.png');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.tmps-form-group {
	border-radius: 10px;
    border: 1px solid #cd8f16;
    padding: 5px;
    margin-top: 25px;
    background: #fff;
    box-shadow: 0px 1px;
}
iframe {
    width: 100%;
    min-height: 200px;
}
/*---------------------------------------------------------------------------------------------
| END TMPS LOCATION
---------------------------------------------------------------------------------------------*/


.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.transparent-bg {
	background: none !important;
}

.font-center {
	text-align: center;
}
